@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-font:'poppins';
    --sec-font:'inter';
    --pri-color:#2C7128;
    --sec-color:#fff;
    --BG-WHITESMOKE:#ECF0F5;
    --dimclr:#585858;
    --navbar-green2:rgba(11, 88, 9, 0.91);
}

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: 100vh;
    background-color: var(--sec-color);
    position: relative;
}

/* header */
header{
    width: calc(100% - 200px);
    height:60px;
    background-color:var(--pri-color);
    position: fixed;
    right: 0px;
    display: inline-flex;
    padding: 0px 25px;
    align-items: center;
    justify-content: space-between;
}
.header_active{
    width: calc(100% - 50px);
}
header .header_menu_icon{
    cursor: pointer;
    font-size: 15px;
    color: #fff;
}
header .header_profile{
    width: auto;
    height: auto;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
header .header_profile .profile_img{
    font-size: 13px;
    color: #fff;
}
header .header_profile p{
    color: #FFF;
    font-family: var(--primary-font);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

/* aside */

aside{
    width: 200px;
    height: auto;
    position: fixed;
    left: 0px;
    top: 0px;
    background: #C0C0C0;
}
.active{
    width: 50px;
}
aside nav{
    width: 100%;
    height: 60px;
    flex-shrink: 0;
    background: var(--navbar-green2);
    display: flex;
    align-items: center;
    justify-content: center;
}
aside nav p{
    color: #FFF;
    text-align: center;
    font-family: var(--sec-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
aside nav p:nth-of-type(2){
    display: none;
}
.active nav p:nth-of-type(1){
    display: none;
}
.active nav p:nth-of-type(2){
    display: block;
}
.user_profile{
    width: 180px;
    height: 70px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #D9D9D9;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.active .user_profile{
    width: auto;
    background-color: transparent;
}
.user_profile_con{
    width: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 21px;
}
.user_profile_con .profile_img{
    font-size: 20px;
}
.user_profile_con .user_profile_details{
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    margin-right: 10px;
}
.active .user_profile_con .user_profile_details{
    display: none;
}
.user_profile_con .user_profile_details .name_con{
    display: flex;
    align-items: center;
    gap: 2px;
    justify-content: center;
    width: 100%;
    
}
.user_profile_con .user_profile_details .name_con p{
    color: #000;
    font-family: var(--primary-font);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    overflow: hidden;
}
.user_profile_con .user_profile_details .name_con .fname{
    max-width:100px;
}
.user_profile_con .user_profile_details .status{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.user_profile_con .user_profile_details .status p{
    color: #000;
    font-family: var(--primary-font);
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    margin-left: 10px;
}
.user_profile_con .user_profile_details .status span::after{
    content: '';
    width: 5px;
    height: 5px;
    background-color: #3C763D;
    clip-path: circle(50%);
    position:absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
}

aside .nav_dialogue p{

    color: #FFF;
    font-family: var(--sec-font);
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.active .nav_dialogue p{
    display: none;
}
aside .nav_dialogue{
    width: 100%;
    height: 30px;
    flex-shrink: 0;
    background: #2C7128;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
aside .navigtion_con{
    width: 200px;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    position: relative;
    padding: 20px 0px;
}
.active .navigtion_con{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}
aside .navigtion_con::-webkit-scrollbar{
    display: none;
}
aside .navigtion_con .navigators{
    cursor: pointer;
    width: 100%;
    height: 50px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 20px;
}
.active .navigtion_con .navigators{
    align-items: center;
    padding-left: 0px;
}
.navigators:hover .navigation_name,.navigators:hover .fa-solid{
    color: #fff;
    transition: color .2s linear;
}
aside .navigtion_con .navigators:hover{
    background-color: #2C7128;
    transition: background-color .2s ease-in-out;
}

aside .navigtion_con .navigators a{
    width: auto;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
aside .navigtion_con .navigators a i{
    font-size: 20px;
    color: var(--dimclr);
}
aside .navigtion_con .navigators a p{
    color: var(--dimclr, #585858);
    font-family: var(--sec-font);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.active .navigtion_con .navigators a p{
    display: none;
}


/* footer */
footer{
    width: calc(100% - 200px);
    height: 40px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: var(--BG-WHITESMOKE);
    display: flex;
    align-items: center;
    padding: 0px 20px;
}
.footer_active{
    width: calc(100% - 50px);
}
footer p{
    color: #000;
    font-family: var(--primary-font);
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}
footer p span{
    font-weight: 700;
}
footer p a{
    color: #000;
    text-decoration: underline;
}

.focused_navigator{
    background-color: #2C7128;
}
.focused_navigator a p,.focused_navigator a i{
    color: #fff !important;
}


/* main */
main{
    height: calc(100% - 100px);
    width: calc(100% - 200px);
    position: relative;
    left: 200px;
    top: 60px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 20px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.main_active{
    width: calc(100% - 50px);
    left: 50px;
}
main section:nth-of-type(1) p{
    color: #3C763D;
    font-family: var(--primary-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 10px;
    color: var(--naavbar-green1, #2C7128);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#quick_navigation_container{
    width: 100%;
    height: auto;
    border-radius: 3px;
    border-top: 3px solid #2C7128;
    background: var(--BG-WHITESMOKE, #ECF0F5);
    padding: 20px;
}

#quick_navigation_container article:nth-of-type(1) p{
    color: #000;
    font-family: var(--sec-font);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;

}

#quick_navigation{
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-row-gap: 50px;
    grid-column-gap: 20px;
}

#quick_navigation .quick_navigators{
    width: 230px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#quick_navigation .quick_navigators .quick_nav_i_con{
    width: 70px;
    height: 100%;
    border-radius: 5px 0px 0px 5px;
    background: #FFB703;
    display: flex;
    align-items: center;
    justify-content: center;
}
#quick_navigation .quick_navigators .quick_nav_i_con i{
    color: #fff;
    font-size: 25px;
    text-align: center;
}
#quick_navigation .quick_navigators .quick_nav_name{
    width: calc(100% - 70px);
    height: 100%;
    border-radius: 0px 5px 5px 0px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 5px;
}

#quick_navigation .quick_navigators .quick_nav_name p:nth-of-type(1){
    color: #585858;
    font-family: var(--sec-font);
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
#quick_navigation .quick_navigators .quick_nav_name p:nth-of-type(2){
    color: #000;
    font-family: var(--sec-font);
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

#quick_navigation .quick_navigators:nth-of-type(2) .quick_nav_i_con{
    background-color: #023047;
}
#quick_navigation .quick_navigators:nth-of-type(3) .quick_nav_i_con{
    background-color: #FB8500;
}
#quick_navigation .quick_navigators:nth-of-type(4) .quick_nav_i_con{
    background-color: #219EBC;
}
#quick_navigation .quick_navigators:nth-of-type(5) .quick_nav_i_con{
    background-color: #023047;
}
#quick_navigation .quick_navigators:nth-of-type(6) .quick_nav_i_con{
    background-color: #BC6C25;
}
#quick_navigation .quick_navigators:nth-of-type(7) .quick_nav_i_con{
    background-color: #606C38;
}
#quick_navigation .quick_navigators:nth-of-type(8) .quick_nav_i_con{
    background-color: #7B1E7A;
}
#quick_navigation .quick_navigators:nth-of-type(9) .quick_nav_i_con{
    background-color: #27187E;
}
#quick_navigation .quick_navigators:nth-of-type(10) .quick_nav_i_con{
    background-color: #FF5714;
}
#quick_navigation .quick_navigators:nth-of-type(11) .quick_nav_i_con{
    background-color: #7B1E7A;
}

main section:nth-of-type(3){
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
main section:nth-of-type(3) article{
    width: 100%;
    display: flex;
    flex-shrink: 0;
    align-items:center;
    justify-content: space-between;
    padding: 12px 15px;
    border-radius: 2px 1px 0px 0px;
    border-top: 3px solid #0B5809;
    background: var(--BG-SEC, #ECF0F5);
    
}

main section:nth-of-type(3) article p{
    color: #000;
    font-family: var(--sec-font);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}
main section:nth-of-type(3) article button{
    width: 125px;
    height: 30px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    background: #37E22D;
    outline: none;
    border: none;
    padding: 5px;
    cursor: pointer;
}
main section:nth-of-type(3) article button i{
    color: #fff;
    font-size: 12px;
}
main section:nth-of-type(3) article button p{
    color: #FFF;
    font-family: var(--sec-font);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}


table{
    display:table;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    text-indent: initial;
}
table thead{
    background-color: var(--BG-WHITESMOKE);
}
tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}


th,td{
    /* color: #FFF; */
    font-family: var(--sec-font);
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    padding: 8px;
    text-align: center;
    vertical-align: middle !important;
    border: 1px solid #f4f4f4;
    border-top: 1px solid #f4f4f4;
    line-height: 1.42857143;
    min-width: 50px;
    min-height: 25px;
}
th{
    font-weight: bold;
}
.cell-pri_green{
    border-bottom: 1px solid #DFDFDF;
    border-left: 1px solid #DFDFDF;
    background: #2C7128;
    color: #fff;
}
.cell-per_green{
    border-bottom: 1px solid #DFDFDF;
    border-left: 1px solid #DFDFDF;
    background: #00D900;
    color: #fff;
}
.cell-blue {
    background-color: var(--pri-color) !important;
    color: #ffffff !important;
}
