@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-font:'poppins';
    --sec-font:'inter';
    --pri-color:#2C7128;
    --sec-color:#fff;
    --BG-WHITESMOKE:#ECF0F5;
    --dimclr:#585858;
    --navbar-green2:rgba(11, 88, 9, 0.91);
}

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: 100vh;
    background-color: var(--sec-color);
    position: relative;
    background-color:#F5F5F5;;
}

/* header */
header{
    width: calc(100% - 200px);
    height:60px;
    background-color:var(--pri-color);
    position: fixed;
    right: 0px;
    display: inline-flex;
    padding: 0px 25px;
    align-items: center;
    justify-content: space-between;
}
.header_active{
    width: calc(100% - 50px);
}
header .header_menu_icon{
    cursor: pointer;
    font-size: 15px;
    color: #fff;
}
header .header_profile{
    width: auto;
    height: auto;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
header .header_profile .profile_img{
    font-size: 13px;
    color: #fff;
}
header .header_profile p{
    color: #FFF;
    font-family: var(--primary-font);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

/* aside */

aside{
    width: 200px;
    height: auto;
    position: fixed;
    left: 0px;
    top: 0px;
    background: #C0C0C0;
}
.active{
    width: 50px;
}
aside nav{
    width: 100%;
    height: 60px;
    flex-shrink: 0;
    background: var(--navbar-green2);
    display: flex;
    align-items: center;
    justify-content: center;
}
aside nav p{
    color: #FFF;
    text-align: center;
    font-family: var(--sec-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
aside nav p:nth-of-type(2){
    display: none;
}
.active nav p:nth-of-type(1){
    display: none;
}
.active nav p:nth-of-type(2){
    display: block;
}
.user_profile{
    width: 180px;
    height: 70px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #D9D9D9;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.active .user_profile{
    width: auto;
    background-color: transparent;
}
.user_profile_con{
    width: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 21px;
}
.user_profile_con .profile_img{
    font-size: 20px;
}
.user_profile_con .user_profile_details{
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    margin-right: 10px;
}
.active .user_profile_con .user_profile_details{
    display: none;
}
.user_profile_con .user_profile_details .name_con{
    display: flex;
    align-items: center;
    gap: 2px;
    justify-content: center;
    width: 100%;
    
}
.user_profile_con .user_profile_details .name_con p{
    color: #000;
    font-family: var(--primary-font);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    overflow: hidden;
}
.user_profile_con .user_profile_details .name_con .fname{
    max-width:100px;
}
.user_profile_con .user_profile_details .status{
    position: relative;
}
.user_profile_con .user_profile_details .status p{
    color: #000;
    font-family: var(--primary-font);
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    margin-left: 10px;
}
.user_profile_con .user_profile_details .status span::after{
    content: '';
    width: 5px;
    height: 5px;
    background-color: #3C763D;
    clip-path: circle(50%);
    position:absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
}

aside .nav_dialogue p{

    color: #FFF;
    font-family: var(--sec-font);
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.active .nav_dialogue p{
    display: none;
}
aside .nav_dialogue{
    width: 100%;
    height: 30px;
    flex-shrink: 0;
    background: #2C7128;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
aside .navigtion_con{
    width: 200px;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    position: relative;
    padding: 20px 0px;
}
.active .navigtion_con{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}
aside .navigtion_con::-webkit-scrollbar{
    display: none;
}
aside .navigtion_con .navigators{
    cursor: pointer;
    width: 100%;
    height: 50px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 20px;
}
.active .navigtion_con .navigators{
    align-items: center;
    padding-left: 0px;
}
.navigators:hover .navigation_name,.navigators:hover .fa-solid{
    color: #fff;
    transition: color .2s linear;
}
aside .navigtion_con .navigators:hover{
    background-color: #2C7128;
    transition: background-color .2s ease-in-out;
}

aside .navigtion_con .navigators a{
    width: auto;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
aside .navigtion_con .navigators a i{
    font-size: 20px;
    color: var(--dimclr);
}
aside .navigtion_con .navigators a p{
    color: var(--dimclr, #585858);
    font-family: var(--sec-font);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.active .navigtion_con .navigators a p{
    display: none;
}

.focused_navigator{
    background-color: #2C7128;
}
.focused_navigator a p,.focused_navigator a i{
    color: #fff !important;
}

/* main */
main{
    height: calc(100% - 100px);
    width: calc(100% - 200px);
    position: relative;
    left: 200px;
    top: 60px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 20px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.main_active{
    width: calc(100% - 50px);
    left: 50px;
}
main section:nth-of-type(1) p{
    color: #3C763D;
    font-family: var(--primary-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 10px;
}
#semester_yr_section{
    position: relative;
}
#custom_select {
    width:100%;
    height: 40px;
    border-radius: 2px;
    outline: none;
    border: none;
    border-top: 1.5px solid rgba(11, 88, 9, 0.91);
    background: #FFF;
    color: #1E1E1E;
    font-family: var(--primary-font);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0px 20px;
    appearance: none;
    text-transform: lowercase;
    color: #000;
    font-family: var(--sec-font);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}
#semester_yr_section::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    right: 20px;
    border-right: 2px solid var(--dimclr); 
    border-bottom: 2px solid var(--dimclr); 
    top: 45%;
    transform: translate(-50%, -45%) rotateZ(45deg);
    pointer-events: none;
}
#custom_select option{
    padding: 10px 0px;
} 


#marks_container{
    width: 100%;
    height: auto;
    padding: 20px 25px;
    flex-shrink: 0;
    border-top: 0.5px solid #2C7128;
    background: #FFF;
}

#student_details{
    width: 100%;
    height: 200px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#details_left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}
#details_right{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;  
}
.stu_input_field{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stu_input_field label{
    color: #000;
    font-family: var(--sec-font);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}
.stu_input_field input{
    width: 400px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 2px;
    background: #F5F5F5;
    color: var(--dimclr, #585858);
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    outline: none;
    border: none;
    padding: 0px 20px;
}
#sem_details{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#sem_details .stu_input_field{
    gap: 20px;
}
#details_right .stu_input_field input{
    width: 400px;
    height: 35px;
    flex-shrink: 0;
    gap: 20px; 
}
#sem_details .stu_input_field input{
    width: 140px;
    height: 35px;
    flex-shrink: 0;
    text-align: center;
}
#choice_format{
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
#choice_format #choice_mark,#choice_format #choice_profile{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
#choice_format #choice_mark p,
#choice_format #choice_profile p{
    color: var(--dimclr, #585858);
    font-family: var(--sec-font);
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    text-transform: capitalize;
}
#choice_format #choice_mark{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-left:0.5px solid #C0C0C0;
    border-right:0.5px solid #C0C0C0;
    border-top: 2px solid var(--pri-color);
}

#mark_area{
    width: 100%;
    height: auto;
    border: 0.5px solid #C0C0C0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#mark_table,#grade_rep,#grade_indication{
    display:table;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    text-indent: initial;
}

#mark_table thead tr th{
    height: 35px;
    color: #FFF;
    font-family: var(--sec-font);
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    height: 35px;
    border-right: 1px solid #F5F5F5;
    border-bottom: 1px solid #F5F5F5;
    padding: 0px 10px;
}
#mark_table thead tr th:nth-of-type(1){
    background-color: var(--pri-color);
}
#mark_table thead tr th:nth-of-type(2) {
    background-color: var(--pri-color);
}
#mark_table thead tr th:nth-of-type(3){
    background-color: var(--pri-color);
}
#mark_table thead tr th:nth-of-type(4){
    background: var(--blue-font, #00F);
}
#mark_table thead tr th:nth-of-type(5),
#mark_table thead tr th:nth-of-type(6),
#mark_table thead tr th:nth-of-type(7){
    background: #0073B7;
}
#mark_table thead tr th:nth-of-type(8),
#mark_table thead tr th:nth-of-type(9),
#mark_table thead tr th:nth-of-type(10),
#mark_table thead tr th:nth-of-type(11){
    background: #000;
}
#mark_table thead tr th:nth-of-type(12){
    background-color: #F20041;
}

#mark_table tbody tr td{
    color: var(--dimclr, #585858);
    font-family: var(--sec-font);
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    text-align: center;
    height: 35px;
    border-right: 1px solid #F5F5F5;
    border-bottom: 1px solid #F5F5F5;
    background: #FFF;
}
#mark_table tbody .ws_row td{
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    background: #F5F5F5;
}

#grade_rep thead th,
#grade_indication thead th,
#grade_rep tbody tr td,
#grade_indication tbody tr td{
    border-top: 1px solid #FFF;
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    color: #FFF;
    font-family: var(--sec-font);
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    padding: 10px;
    text-align: center;
}
#grade_rep thead th,
#grade_indication thead th,
#grade_rep tbody tr td{
    background: var(--navbar-green2, rgba(11, 88, 9, 0.91));
}

#grade_indication tbody tr:nth-of-type(1) td{
    border-bottom: 1px solid #FFF;
    border-left: 1px solid #FFF;
    background: var(--BG-WHITESMOKE, #ECF0F5);
    color: #000;
}
#grade_indication tbody tr:nth-of-type(1) td:nth-child(1),
#grade_indication tbody tr:nth-of-type(2) td:nth-child(1){
    background: var(--navbar-green2, rgba(11, 88, 9, 0.91));
    color: #fff;
}

#grade_indication tbody tr:nth-of-type(2) td{
    color: #000;
}
#grade_rep tbody tr td:nth-of-type(2){
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    background: #A52A2A;
}
#grade_rep tbody tr td:nth-of-type(3){
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    background: var(--GRADE, #8C2385);
}
#grade_rep tbody tr td:nth-of-type(4){
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    background: #594643;
}


/* footer */
footer{
    width: calc(100% - 200px);
    height: 40px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: var(--BG-WHITESMOKE);
    display: flex;
    align-items: center;
    padding: 0px 20px;
}
.footer_active{
    width: calc(100% - 50px);
}
footer p{
    color: #000;
    font-family: var(--primary-font);
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}
footer p span{
    font-weight: 700;
}
footer p a{
    color: #000;
    text-decoration: underline;
}

.focused_navigator{
    background-color: #2C7128;
}
.focused_navigator a p,.focused_navigator a i{
    color: #fff !important;
}
